#canvas{
    width: 80%;
    height: 80%;
    background-color: black;
    position: absolute;
    z-index: 10;
    border: thick solid white;
    overflow: hidden;
    left: 10%;
}

#ball{
    position: absolute;
    z-index: 2;
    width: 40px;
    top: 100px;
    left: 100px;
}

#LeftPlayer{
    background-color: white;
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 100px;
    top: 300px;
    left: 30px;
}

#scoreLeft{
    text-align: center;
    font-size: 500%;
    color: white;
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 100px;
}

#RightPlayer{
    background-color: white;
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 100px;
    top: 300px;
    right: 30px;
}

#scoreRight{
    text-align: center;
    font-size: 500%;
    color: white;
    position: absolute;
    z-index: 0;
    width: 50px;
    height: 100px;
}

#clickToStart{
    text-align: center;
    font-size: 300%;
    color: white;
    position: absolute;
    z-index: 0;
    width: 300px;
    height: 100px;
    left: 0;
}